{% extends 'send_mail/base.html' %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    Восстановление пароля
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data" action="{% url 'users:generate_new_password' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-succes">отправить пароль</button>
                    </form>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}